{% extends "layout.html" %}

{% block additional_css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="/static/css/select2_edits.css" rel="stylesheet">
{% endblock %}

{% block title %}
Raildle: Guess the HSR Character
{% endblock %}

{% block main %}

<main>
    <div class="raildle-tries-card">
        <!-- 1 = {{ tries }} -->
        <h1 class="raildle-tries-card__title">Tries: <span id="tries-counter">0</span>/5</h1>
    </div>
    
    <div class="raildle-main-card">
        <h1 class="raildle-main-card__title">Guess the Honkai Star Rail Character</h1>
        
        <div class="raildle-main-card__dropdown-container">
            <select id="character-select">
            </select>
        </div> 

        <div class="raildle-main-card__table-container">
            <table class="raildle-main-card__table" id="answers-table">
                <tr>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Path</th>
                    <th>Element</th>
                    <th>World/Faction</th>
                    <th class="center-text"><span>Weekly</span><span>Boss</span></th>
                </tr>
            </table>
        </div>
    </div>
</main>
{% endblock %}

{% block additional_scripts %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{{ url_for('static', filename='js/raildle.js') }}"></script>
{% endblock %}